<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% load static %}

<div class="form-group form-row" id="captcha-div">

    {% if image_url %}
        <img class="img-responsive watch-right" alt="not found" id="captcha-image"
             src="{{ MEDIA_URL }}{{ image_url }}">
    {% endif %}
    <div class="col-1 text-center" style="margin: 5px; ">
        <button type="button" {% load static %} class="btn-image col" id="reload" name="reload">
            <img src="{% static 'img/refresh.png' %}" alt="reload" style="width:24px">
        </button>
    </div>
{#    <form method="post" novalidate enctype="multipart/form-data" id="captcha-form">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        {% include 'includes/form.html' with form=form %}#}
{#        <button type="submit" id="submit" form="captcha-form">Submit</button>#}
{#    </form>#}
</div>

<script type="text/javascript">
    $(function () {
        $("#reload").click(function (event) {
            event.preventDefault();
            var path = window.location.href;
            {#console.log(path);#}
            $.ajax({
                type: "GET",
                url: path,
                success: function (response) {
                    $("#captcha-image").attr('src', response.image_url)
                    console.log("success");
                },
            })
        })
    });
</script>

