{% extends 'base_accounts.html' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% load static %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Log in</h3>
                    <form method="post" novalidate id="login-form">
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
{#                        {{ form.as_p }}#}
                        {% include 'includes/captcha_image.html' %}
{#                        {{ captcha_form.as_p }}#}
                        {% include 'includes/captcha_form.html' %}
{#                        <div class="g-recaptcha" data-sitekey="6LfQLMQaAAAAAL3U0Dyc1rw29XiqdXnw-0zs9zfy"></div>#}
                    </form>
{#                    <script src='https://www.google.com/recaptcha/api.js'></script>#}

                    <button type="submit" class="btn btn-primary btn-block" id="login-button"
                            name="login-button" value="login-button" form="login-form">
                        Log in
                    </button>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                {% endif %}
{#                <div class="card-footer text-muted text-center">#}
{#                    New to Boards? <a href="{% url 'accounts:signup' %}">Sign up</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}



