<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% load static %}

<div class="form-group form-row" id="captcha-div">
{#    <form method="post" novalidate enctype="multipart/form-data" id="captcha-form">#}
{#        {% csrf_token %}#}
    {% if image_url %}
        <img class="img-responsive watch-right" alt="not found" id="captcha-image"
             src="{{ MEDIA_URL }}{{ image_url }}">
    {% endif %}
    <div class="col-1 text-center" style="margin: 5px; ">
        <button type="button" {% load static %} class="btn-image col" id="reload" name="reload">
            <img src="{% static 'img/refresh.png' %}" alt="reload" style="width:24px">
        </button>
    </div>
{#        {{ form.as_p }}#}
{#        {% include 'includes/form.html' with form=form %}#}
{#        <div class="form-group align-items-center" style="display:flex; flex-direction: row">#}
{#            <label class="text-left" for="type-the-captcha" style="clear: both;">Captcha:</label>#}
{#            <input type="text" name="captcha_code" style="margin-left: 10px" required#}
{#                   class="form-control col-form-label-sm" id="type-the-captcha">#}
{#        </div>#}
{#        <button type="submit" id="submit" form="captcha-form">Submit</button>#}
{#    </form>#}
</div>

<script type="text/javascript">
    // using jQuery
    {#function getCookie(name) {#}
    {#    var cookieValue = null;#}
    {#    if (document.cookie && document.cookie != '') {#}
    {#        var cookies = document.cookie.split(';');#}
    {#        for (var i = 0; i < cookies.length; i++) {#}
    {#            var cookie = jQuery.trim(cookies[i]);#}
    {#            // Does this cookie string begin with the name we want?#}
    {#            if (cookie.substring(0, name.length + 1) == (name + '=')) {#}
    {#                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
    {#                break;#}
    {#            }#}
    {#        }#}
    {#    }#}
    {#    return cookieValue;#}

    {#var csrftoken = getCookie('csrftoken');#}
    {#function csrfSafeMethod(method) {#}
    {#    // these HTTP methods do not require CSRF protection#}
    {#    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}

    {#$.ajaxSetup({#}
    {#    beforeSend: function (xhr, settings) {#}
    {#        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
    {#            xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
    {#        }#}
    {#    }#}

    $(function () {
        $("#reload").click(function (event) {
            event.preventDefault();
            var path = window.location.href;
            {#console.log(path);#}
            $.ajax({
                type: "GET",
                url: path,
                success: function (response) {
                    $("#captcha-image").attr('src', response.image_url)
                    console.log("success");
                },
            })
        })
    });
</script>

